#section1 {
  padding: 100px 50px;
}

#imgSection1 {
  max-height: 400px;
  width: 100%;
  object-fit: cover;
  margin: auto;
}

#section1Img {
  padding: 60px;
  display: flex;
  justify-content: center;
}